body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {margin: .5rem}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

aside {
    background-color: #eee;
    min-height: 1rem;
}